#seccion-estilo {
    padding: 100px 0;
    padding-bottom: 300px;
    background-image: url('../../../assets/img/back-estilo.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}