#seccion-ofertas {
    padding: 100px 0;
}

#seccion-ofertas .box-ofertas {
    margin-top: 60px;
}

#seccion-ofertas .btn-cotizas:hover {
    background-color: #0033A0;
}

#seccion-ofertas .btn-ver {
    width: 100%;
    max-width: 400px;
}

#seccion-ofertas .btn-ver:hover {
    color: #fff;
}