#seccion-banners-main {
    height: 100vh;
    position: relative;
}

#seccion-banners-main .item-slide {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}

#seccion-banners-main #carrusel_banners_main .owl-nav button {
    border: 3px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #b2b2b28f;
    background-image: url('./../../../assets/img/arrow-right-white.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    transition-duration: .3s;
}

#seccion-banners-main #carrusel_banners_main .owl-nav button:hover {
    border: 3px solid #0033A0;
    background-color: #0033A0;
}

#seccion-banners-main #carrusel_banners_main .owl-nav button.owl-prev {
    transform: rotate(180deg);
}

#seccion-banners-main #carrusel_banners_main .owl-nav button span {
    font-size: 0;
}

#seccion-banners-main #carrusel_banners_main .owl-dots {
    width: 260px;
    position: absolute;
    left: calc(50% - 130px);
    bottom: 200px;
}

#seccion-banners-main #carrusel_banners_main .owl-nav {
    display: none;
}

#seccion-banners-main #carrusel_banners_main .owl-dots button span {
    width: 30px;
    height: 5px;
    background-color: #fff;
}

#seccion-banners-main #carrusel_banners_main .owl-dots button.active span {
    background-color: #0098E1;
}


/* Navegación */

.navegacion {
    margin-bottom: 30px;
}

.navegacion .item-nav {
    padding: 20px;
    background-color: #1A374D;
    text-decoration: none;
    transition-duration: .3s;
}

.navegacion .item-nav:hover {
    background-color: #0033A0;
}

.navegacion .item-nav:hover .arrow {
    border-left: 1px solid #fff;
}

.navegacion .item-nav:hover .arrow img {
    opacity: 1;
}

.navegacion .item-nav .icon {
    display: block !important;
    width: 30px;
    height: 30px;
    visibility: inherit;
}

.navegacion .item-nav .text {}

.navegacion .item-nav .arrow {
    border-left: 1px solid #365a73;
    padding-left: 20px;
    transition-duration: .3s;
}

#seccion-banners-main .navegacion .item-nav .arrow img {
    display: block !important;
    visibility: inherit;
    opacity: 0.5;
    width: 16px;
    transition-duration: .3s;
}