#seccion-estilo {
    padding: 100px 0;
    padding-bottom: 300px;
    background-image: url('../../../assets/img/back-estilo.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}


/* Res-1200 */

@media (max-width: 1200px) {
    #seccion-estilo .card-estilo .content {
        opacity: 1;
    }
}


/* Res-992 */

@media (max-width: 992px) {}


/* Res-768 */

@media (max-width: 768px) {}


/* Res-576 */

@media (max-width: 576px) {}