.card-estilo {
    height: 340px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 0;
    text-decoration: none;
}

.card-estilo .content {
    background-color: #0033a099;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition-duration: .3s;
}

.card-estilo:hover .content {
    opacity: 1;
}